/* header {
    position: sticky;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    top: 0; 
    margin-bottom: 20px;
    padding: 20px;
    justify-content: space-between;
} */

.btn:hover {
    text-decoration: underline;
    font-weight: bold;
    transform: scale(1.05);
}

.link {
    box-sizing: border-box;
    padding: 8px;
    color: black;
}

.contact { 
    background-color: rgb(35, 170, 168);
    box-sizing: border-box;
    color: white;
    padding: 8px;
    border-radius: 5px;
}

.contact:hover {
     background-color: rgba(24, 156, 154, 0.559);
}

.card {
    margin: 0 auto;
    width: 100%; 
    max-width: 1024px;
    box-sizing: border-box;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 28rem;
}

.btn-og {
    background-color: skyblue;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    font-size: small;
}

.btn-li:hover {
    transform: scale(1.2);
}