body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(34, 34, 34);
    color: white;
}

header {
    position: sticky;
    background-color: rgb(34, 34, 34);
    top: 0; 
    margin-bottom: 20px;
}

.game-card {
    background-color: rgb(50, 50, 50);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}

.game-card:hover {
    background-color: rgb(70, 70, 70);
    transform: scale(1.02);
}
